# Exclude everything by default
**

# --- Allow general Python files and core requirements ---
!*.py
!*.ipynb
!requirements.txt

# --- Allow Dockerfiles ---
!Dockerfile*
!docker-compose.yml

# --- Allow source code folders ---
!src/
!src/**
!src/**/**

# --- Allow images folder ---
!images/
!images/**
!images/**/**

# --- Allow front-end (except node_modules) ---
!front-end/
!front-end/**
front-end/node_modules/
