# Exclude everything by default
*
# Allow Python code
!*.py
# Allow requirements
!requirements.txt
# Allow project source folders
!src/
!src/api/
!src/api/**

# Allow images
!images/
!images/**

# Allow front-end, but ignore node_modules
!front-end/
!front-end/**
front-end/node_modules/*
